{% extends 'base.html' %}

{% block start %}
    <div class="container mt-5">
        <h1>Search Users</h1>
        <form action="{% url 'search_users' %}" method="GET" class="mb-4">
            <input type="text" name="q" placeholder="Search users..." required class="form-control" style="width: 300px; display: inline-block;">
            <button type="submit" class="btn btn-secondary">Search</button>
        </form>

        <h2>Results</h2>
        <div class="row search-results">
            {% if results %}
                {% for user in results %}
                    <div class="col-md-6 mb-4">
                        <div class="card">
                            <div class="card-body d-flex align-items-center profile-card"> <!-- Flexbox for alignment -->
                                <div class="profile-picture-container">
                                    {% if user.profile %}
                                        <img src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }}'s profile picture" class="profile-picture">
                                    {% endif %}
                                    
                                </div>
                                <div class="user-details"> <!-- Text container -->
                                    
                                    <p class="card-text mb-2">
                                        Name: {{ user.first_name }} {{ user.last_name }}<br>
                                        Bio: {{ user.profile.bio }}<br>
                                        Username : <b>{{user.username}}</b>
                                        
                                    </p>
                                    <a href="{% url 'view_user' user.id %}" class="btn btn-primary btn-sm">View Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No users found.</p>
            {% endif %}
        </div>
        
        <a href="{% url 'home' %}" class="btn btn-link">Back to Home</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
