{% extends 'base.html' %}

{% block start %}


    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username" required><br>

        <label>Password:</label>
        <input type="password" name="password" required><br>

        <button type="submit">Login</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    
    <p><a href="/register/">Not a user? Register here.</a></p> <!-- Link to registration page -->


{% endblock %}
